<% if defined?(JRUBY_VERSION) %>
connections:
  sqlserver:
    adapter: jdbc
    username: sa
    password:
    driver: net.sourceforge.jtds.jdbc.Driver
    url: jdbc:jtds:sqlserver//localhost:1433/apartment_sqlserver_test
    timeout: 5000
    pool: 5
<% else %>
connections:
  postgresql:
    adapter: postgresql
    database: apartment_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:

  mysql:
    adapter: mysql2
    database: apartment_mysql_test
    username: root
    password:

  sqlserver:
    adapter: sqlserver
    mode: dblib
    host: localhost
    database: apartment_sqlserver_test
    username: sa
    password:
<% end %>